<!DOCTYPE html>
<html>
  <head>
    <title>dj-kubelet</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="static/dj-kubelet.png">
    <link rel="stylesheet" href="https://unpkg.com/xp.css@0.2.2/dist/98.css">
    <link rel="stylesheet" href="static/style2.css" type="text/css">
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
  <div id="app">
    <div class="window" style="margin: 32px; width: 350px">
      <div class="title-bar">
        <div class="title-bar-text">dj-kubelet.exe</div>
        <div class="title-bar-controls">
          <button aria-label="Close"></button>
        </div>
      </div>
      <template v-if="authed">
      <div class="window-body">
        <p>Nice to have you here {{user.name}}!</p>
        <p>Let's rock and roll!</p>
        <section class="field-row" style="justify-content: flex-end">
          <button v-on:click="selectAndCopyKubeconfig">Copy Kubeconfig</button>
        </section>
      </div>
      </template>
      <template v-else>
      <div class="window-body">
        <p>Hello world! This is dj-kubelet.</p>
        <p>Press OK to log in with Spotify.</p>
        <section class="field-row" style="justify-content: flex-end">
          <button v-on:click="login">OK</button>
          <button>Cancel</button>
        </section>
      </div>
      </template>
    </div>
  <template v-if="authed">
  <div class="window" style="margin: 32px; width: 700px">
  <div class="title-bar">
    <div class="title-bar-text">Command Prompt</div>
    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="window-body">
    <pre id="kubeconfig" style="overflow-wrap: normal; overflow-x: scroll;">
Microsoft&#10094;R&#10095; Windows DOS
&#10094;C&#10095; Copyright Microsoft Corp 1990-2001.

C:&#92;WINDOWS&#92;SYSTEM32&gt; type kubeconfig
{{ user.kubeconfig }}
    </pre>
  </div>
</div>
</template>
</div>
<script src="static/main.js"></script>
  </body>
</html>
