* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'ChiKareGo';
  src: url('ChiKareGo.ttf');
}
@font-face {
  font-family: 'Perfect_DOS_VGA_437';
  src: url('Perfect_DOS_VGA_437.ttf');
}

body {
  font-family: 'Perfect_DOS_VGA_437', 'Arial', sans-serif;
  background-color: #048284;
  color: #d8d8d8;
}

.window {
  margin-left:auto;
  margin-right:auto;
  margin-top: 4em;
  width:80em;
  min-height: 40em;

  border: 2px solid #d8d8d8;
  border-radius: 5px;
  background-color: #181818;
}

.window p {
  font-size: 200%;
}

.window-bar {
  font-family: 'ChiKareGo', 'Arial', sans-serif;
  background: #d8d8d8;
  color: #181818;

  padding-top: 0.1em;
  text-align: center;
}

.window-content p {
  margin:1em;
}

.code {
  white-space: pre;
  margin:1em;
  padding: 1em;
  width:30em;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
  border: 2px solid #d8d8d8;
  border-radius: 5px;
}

textarea {
  resize: none;
  outline: none;
  border: 2px solid #d8d8d8;
  background-color: #181818;
  color: #d8d8d8;
}
